* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
button,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 1rem 2rem;
    background-color: rgb(34, 140, 247);
    color: white;
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    margin: 0 1.5rem;
}

.nav__item:first-of-type {
    margin-left: 0;
    margin-right: auto;
}

.nav__link {
    color: white;
}

.nav__item:last-of-type {
    margin-right: 0;
}

.logout__button {
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.form {
    width: 300px;
    padding: 1rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.form__title {
    font-size: 1.6rem;
}

.form__group {
    margin: 1rem 0;
}

.form__label {
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
}

.form__button {
    width: 100%;
    padding: 0.75rem 1.4rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(11, 123, 235);
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.form__text {
    margin: 1.5rem 0 1rem;
    color: rgb(83, 83, 83);
    font-size: 0.95rem;
    text-align: center;
}

.form__link {
    color: rgb(11, 123, 235);
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.user {
    width: 250px;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.user__username {
    font-size: 1.2rem;
    font-weight: normal;
}
