* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
button,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    min-width: 300px;
    padding: 0;
    background-color: rgb(34, 140, 247);
    color: white;
}

.nav {
    position: relative;
    max-width: 1100px;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.nav__toggle-button {
    position: relative;
    display: block;
    width: 20px;
    height: 15px;
    border: none;
    margin-left: auto;
    background: none;
    cursor: pointer;
}

.nav__toggle-icon {
    width: 100%;
    height: 3px;
    background-color: white;
}

.nav__toggle-icon::before,
.nav__toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
}

.nav__toggle-icon::before {
    top: 0;
}

.nav__toggle-icon::after {
    bottom: 0;
}

.nav__list {
    position: absolute;
    top: 2.1rem;
    right: 0;
    display: none;
    min-width: 250px;
    width: 35%;
    padding: 0 1.5rem;
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    list-style: none;
}

.nav__list--active {
    display: block;
}

.nav__item {
    margin: 1.75rem 0;
    border-radius: 5px;
}

.nav__link {
    display: inline-block;
    padding: 0;
    color: white;
    font-size: 1.2rem;
}

.nav__link--user {
    border-radius: 5px;
    background-color: rgb(11, 123, 235);
    text-decoration: none;
}

.nav__link--user:hover,
.nav__link--user:focus {
    background-color: rgb(7, 114, 221);
}

.logout__button {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    min-width: 300px;
    max-width: 1100px;
    margin: 0 auto;
}

.form {
    width: 300px;
    padding: 1rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.form__title {
    font-size: 1.6rem;
}

.form__group {
    margin: 1rem 0;
}

.form__label {
    font-weight: bold;
}

.form__requirement {
    font-size: 0.8rem;
    font-style: italic;
}

.form__input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
}

.form__input--textarea {
    resize: none;
    height: 200px;
}

.form__button {
    width: 100%;
    padding: 0.75rem 1.4rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(11, 123, 235);
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.form__error {
    color: red;
    font-size: 0.8rem;
}

.form__text {
    margin: 1.5rem 0 1rem;
    color: rgb(83, 83, 83);
    font-size: 0.95rem;
    text-align: center;
}

.form__link {
    color: rgb(11, 123, 235);
}

.feed {
    padding: 2rem;
}

.feed__title {
    margin-bottom: 2rem;
    text-align: center;
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.user {
    width: 250px;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.user__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__username {
    font-size: 1.2rem;
    font-weight: normal;
}

.user__followed-indicator {
    color: grey;
    font-size: 0.85rem;
}

.user__link {
    color: rgb(11, 123, 235);
}

.profile {
    padding: 1rem;
}

.profile__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
}

.profile__likes-link {
    border: none;
    background: none;
    color: rgb(11, 123, 235);
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.profile__username {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}

.profile__edit-link {
    color: rgb(11, 123, 235);
}

.profile__follow-button {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(11, 123, 235);
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.profile__follow-button--unfollow {
    border-color: lightgrey;
    background-color: rgb(240, 240, 240);
    color: black;
}

.profile__follow-stats {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 1rem;
}

.profile__follow-stat {
    margin: 0 1.5rem;
}

.profile__follow-link {
    color: black;
    text-decoration: none;
}

.profile__follow-link:hover,
.profile__follow-link:focus {
    text-decoration: underline;
}

.profile__follow-count {
    font-weight: bold;
}

.posts {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
}

.posts__title {
    text-align: center;
}

.post {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.post__author-link {
    color: black;
    text-decoration: none;
}

.post__author-link:hover,
.post__author-link.focus {
    text-decoration: underline;
}

.post__datetime {
    color: grey;
    font-size: 0.8rem;
}

.post__text {
    padding: 1rem 0;
}

.post__likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__like-button {
    border: none;
    background: none;
    color: rgb(11, 123, 235);
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.post__like-button--unlike {
    color: grey;
}

.post__view-likes-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.post__like-count {
    font-size: 0.9rem;
}

.post__like-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
}

.post__like-modal-container--active {
    display: flex;
}

.like-modal {
    width: 280px;
    padding-bottom: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    z-index: 10;
}

.like-modal__top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.like-modal__button {
    position: absolute;
    right: 1rem;
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: grey;
    cursor: pointer;
}

.like-modal__message {
    padding: 1rem;
    color: grey;
}

.like-modal .user {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
}

.like-modal .user__username {
    font-size: 1rem;
}

.like-modal .user__link {
    font-size: 0.9rem;
}

.following,
.follower {
    padding: 1rem;
}

.following__title,
.follower__title {
    text-align: center;
}

.likes {
    padding: 2rem;
}

.likes__title {
    margin-bottom: 2rem;
    text-align: center;
}

@media (min-width: 700px) {
    .header {
        padding: 1rem 2rem;
    }

    .nav {
        padding: 0;
    }

    .nav__toggle-button {
        display: none;
    }

    .nav__list {
        position: static;
        display: flex;
        justify-content: flex-end;
        width: auto;
        padding: 0;
    }

    .nav__item {
        margin: 0 1.5rem;
    }

    .nav__item--left {
        margin-left: 0;
        margin-right: auto;
    }

    .nav__item:last-of-type {
        margin-right: 0;
    }

    .nav__link {
        padding: 0.5rem;
        color: white;
        font-size: 0.95rem;
    }

    .logout__button {
        padding: 0.5rem;
        font-size: 0.95rem;
    }

    .profile__top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: normal;
        max-width: none;
    }

    .profile__likes-link {
        grid-column: 1/2;
        justify-self: end;
    }

    .profile__username {
        grid-column: 2/3;
    }

    .profile__edit-link {
        grid-column: 3/4;
    }

    .profile__follow {
        grid-column: 3/4;
    }

    .profile__follow-stats {
        margin: 1rem auto;
    }
}
