* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
button,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 1rem 2rem;
    background-color: rgb(34, 140, 247);
    color: white;
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav__item {
    margin: 0 1.5rem;
    border-radius: 5px;
}

.nav__item--left {
    margin-left: 0;
    margin-right: auto;
}

.nav__item:last-of-type {
    margin-right: 0;
}

.nav__link {
    display: inline-block;
    padding: 0.5rem;
    color: white;
}

.nav__link--user {
    border-radius: 5px;
    background-color: rgb(11, 123, 235);
    text-decoration: none;
}

.nav__link--user:hover,
.nav__link--user:focus {
    background-color: rgb(7, 114, 221);
}

.logout__button {
    padding: 0.5rem;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.form {
    width: 300px;
    padding: 1rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.form__title {
    font-size: 1.6rem;
}

.form__group {
    margin: 1rem 0;
}

.form__label {
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
}

.form__input--textarea {
    resize: none;
    height: 200px;
}

.form__button {
    width: 100%;
    padding: 0.75rem 1.4rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(11, 123, 235);
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.form__text {
    margin: 1.5rem 0 1rem;
    color: rgb(83, 83, 83);
    font-size: 0.95rem;
    text-align: center;
}

.form__link {
    color: rgb(11, 123, 235);
}

.feed {
    padding: 2rem;
}

.feed__title {
    margin-bottom: 2rem;
    text-align: center;
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.user {
    width: 250px;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.user__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__username {
    font-size: 1.2rem;
    font-weight: normal;
}

.user__followed-indicator {
    color: grey;
    font-size: 0.85rem;
}

.profile {
    padding: 1rem;
}

.profile__username {
    text-align: center;
}

.profile__follow {
    margin: 1rem 0;
    text-align: center;
}

.profile__follow-button {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(11, 123, 235);
    border-radius: 5px;
    background-color: rgb(34, 140, 247);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.profile__follow-button--unfollow {
    border-color: lightgrey;
    background-color: rgb(240, 240, 240);
    color: black;
}

.profile__follow-stats {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.profile__follow-stat {
    margin: 0 1.5rem;
}

.profile__follow-link {
    color: black;
    text-decoration: none;
}

.profile__follow-link:hover,
.profile__follow-link:focus {
    text-decoration: underline;
}

.profile__follow-number {
    font-weight: bold;
}

.posts {
    width: 400px;
    margin: 0 auto;
}

.posts__title {
    text-align: center;
}

.post {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.post__datetime {
    color: grey;
    font-size: 0.8rem;
}

.post__text {
    padding: 1rem 0;
}

.post__likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__like-button {
    border: none;
    background: none;
    color: rgb(11, 123, 235);
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.post__like-button--unlike {
    color: grey;
}

.post__like-count {
    font-size: 0.9rem;
}

.following,
.follower {
    padding: 1rem;
}

.following__title,
.follower__title {
    text-align: center;
}
